<p>add new admin!</p>
<div>
    <div class="mb-3">
        <form>
            <i id="icon" class="material-icons prefix">person</i>
            <input type="text" placeholder="enter your firstname..." />
        </form>
    </div>
    <div>
        <div class="mb-3">
            <form>
                <i id="icon" class="material-icons prefix">person</i>
                <input type="text" placeholder="enter your lastname..." />
            </form>
        </div>
        <div>
            <div class="mb-3">
                <form>
                    <i id="icon" class="material-icons prefix">email</i>
                    <input type="email" placeholder="enter your email..." />
                </form>
            </div>
            <div>
                <div class="mb-3">
                    <form>
                        <i id="icon" class="material-icons prefix">vpn_key</i>
                        <input type="password" placeholder="enter your passeword..." />
                    </form>
                </div>
            </div>