<div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
        <i id="icon" class="material-icons prefix">person</i>
        <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="enter your firstname..." />
        <div class="mb-3">
            <i id="icon" class="material-icons prefix">person</i>
            <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="enter your lastname..." />
        </div>
        <div class="mb-3">
            <i id="icon" class="material-icons prefix">email</i>
            <input id="email" type="email" class="form-control" formControlName="email" placeholder="enter your email...">
        </div>
        <div class="mb-3">
            <i id="icon" class="material-icons prefix">vpn_key</i>
            <input id="password" type="password" class="form-control" formControlName="password" placeholder="enter your password...">
        </div>

        <button type="submit">Add new admin</button>
    </form>
</div>
