<!-- <a  routerLink="/signin">Signin</a> -->
<div class="wrapper">
    <div class="sidebar">
        <h2>9oss</h2>
        <ul>
            <li><a href="#" routerLink="/signin"><i class="fas fa-sign-in-alt"></i>Signin</a></li>
            <!-- <li><a href="#"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="#"><i class="fas fa-address-card"></i>About</a></li>
            <li><a href="#"><i class="fas fa-project-diagram"></i>portfolio</a></li>
            <li><a href="#"><i class="fas fa-blog"></i>Blogs</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li> -->
        </ul> 
        <!-- <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div> -->
    </div>
    <div class="main_content">
        <div class="header">Welcome!! Have a nice day.</div>  
        <div class="info">
          <div>This website is mainly created for the administration, all admins are able to add new admins, add new sport events, add new seat, delete and remove. all admins are able to text each other and discuss issues anynomously, please keep your password safe and this website is not made to be published for public!</div>
          <div>This website is mainly created for the administration, all admins are able to add new admins, add new sport events, add new seat, delete and remove. all admins are able to text each other and discuss issues anynomously, please keep your password safe and this website is not made to be published for public!</div>
          <div>This website is mainly created for the administration, all admins are able to add new admins, add new sport events, add new seat, delete and remove. all admins are able to text each other and discuss issues anynomously, please keep your password safe and this website is not made to be published for public!</div>
      </div>
    </div>
</div>

