<div class="wrapper">
    <div class="sidebar">
        <h2>sign in</h2>
        <ul>
            <li><a href="#" routerLink="/home"><i id="icon"  class="fas fa-home"></i>Home</a></li>
        </ul> 

    </div>
    <div class="main_content">
        <div class="header"></div>  
        <div class="info">
            <i class="far fa-user-circle iconSign"></i>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
                <div>
                    <i class="fas fa-envelope"></i>
                    <input id="email" type="email" class="form-control" formControlName="email" placeholder="Email">

                    <i class="fas fa-lock"></i>
                    <input id="password" type="password" class="form-control" formControlName="password" placeholder="password">
                
                <button class="button" type="submit" >Login</button>
                <p class="request">Please use your work email address so we can connect you with your team</p>
                <p class="privacy">By signing up, I agree to the Koss Privacy Policy and Terms of Service.</p>
            </div>
            </form>
      </div>
    </div>
</div>