
<!-- ///////////////////////////////////////// -->
<div class="wrapper">
    <div class="sidebar">
        <h2>Profile</h2>
        <ul>
            <li><a href="#" routerLink="/profile"><i class="fas fa-hand-point-left"></i>go back</a></li>
            
        </ul> 
    </div>
    <div class="main_content">
        <div class="header"></div>  
        <div class="info">
            <div style="color: white;">
                <div *ngFor="let message of messages">
                    <div>
                        {{message.message}}
                    </div>
                </div>
            </div>
            <div class="message">
                <div>
                    <form [formGroup]="messagesForm" (ngSubmit)='onSubmit(messagesForm.value)'>
                        <textarea formControlName="Text" id="Text" type="text" class="form-control" placeholder="write a message"></textarea>
                        <button type="submit">submit</button>
                    </form>
                </div>
            </div>
      </div>
    </div>
</div>

