
<!-- ///////////////////////////////////////// -->
<div class="wrapper">
    <div class="sidebar">
        <h2>Profile</h2>
        <ul>
            <li><a href="#" routerLink="/profile"><i class="fas fa-home" ></i>go back</a></li>
            
        </ul> 
    </div>
    <div class="main_content">
        <div class="header">Welcome!! Have a nice day.</div>  
        <div class="info">
            <div>
                <div *ngFor="let message of messages">
                    <div>
                        {{message.message}}
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <form [formGroup]="messagesForm" (ngSubmit)='onSubmit(messagesForm.value)'>
                        <input formControlName="Text" id="Text" type="text" class="form-control"  />
                        <button type="submit">submit</button>
                    </form>
                </div>
            </div>
      </div>
    </div>
</div>

