
<div class="wrapper">
    <div class="sidebar">
        <h2>Events</h2>
        <ul>
            <li><a href="#" routerLink="/profile"><i class="fas fa-hand-point-left"></i>go back</a></li>
            <li>       <button (click)='deleteAll()' style="display: fix;">Delete all events</button></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="header">Welcome!! Have a nice day.</div>
        <div class="info">
                         
     
            <div style="display: flex">
   
                <div *ngFor="let event of events" class="update">
                    <form [formGroup]="eventsForm" (click)='onSelectUpdate(eventsForm.value)'>
                        <div class="inputInfo">
                            <h3> {{event.id}} </h3>
                            <img src={{event.image}} alt="" width="500px">
                            <input type="file" name="image"  />
                            <input formControlName="eventHome" class="home" placeholder={{event.homeTeam}}/>
                            <input formControlName="eventAway" class="away" placeholder={{event.awayTeam}}/>
                            <input formControlName="eventPlace" placeholder={{event.place}}/>
                            <input formControlName="eventCategory" placeholder={{event.category}}/>
                            <input formControlName="eventDate" placeholder={{event.date}}/>
                            <input formControlName="eventDescription" placeholder={{event.description}}/>
                            <input formControlName="eventPrice" placeholder={{event.price}}/>
                            <button type="submit">Submit changes</button>
                        </div>
                    </form>

                </div>

            </div>
            <div class="update">
                <form [formGroup]="eventForm" (ngSubmit)='onSubmit(eventForm.value)' class="inputInfo">
                    <h3>image:</h3>
                    <input type="file" name="image" (change)="onSelect($event)" />
                    <h3 class="homeTeam"> home team: </h3>
                    <input formControlName="home" class="home" placeholder="Home"/>
                    <h3 class="awayTeam"> away team: </h3>
                    <input formControlName="away"  class=" away aways" placeholder="Away"/>
                    <h3> place:</h3>
                    <input formControlName="place" placeholder="Place"/>
                    <h3> category:</h3>
                    <input formControlName="category" placeholder="Category"/>
                    <h3> date:</h3>
                    <input formControlName="date" placeholder="Date"/>
                    <h3> description</h3>
                    <input formControlName="description" placeholder="Description"/>
                    <h3> price:</h3>
                    <input formControlName="price" placeholder="Price"/>
                    <button type="submit">add event</button>
                </form>

            </div>
        </div>
    </div>
</div>