<!-- <div>
    <a routerLink="/profile">go back</a>
    <div *ngFor="let seat of seats">
        <form [formGroup]="seatsForm" (click)='updateSeat(seatsForm.value)'>
           
            <input formControlName="seatsId" value= {{seat.id}}>
            <input formControlName="seatsNumber" value= {{seat.Number}}/>
            <input formControlName="seatsType" value= {{seat.type}}/>
            <input formControlName="seatsAvailability" value= {{seat.availability}}/>

            <button type="submit">Submit changes</button>
        </form>

    </div>
    <button (click)='deleteAll()'>Delete all seats</button>
</div> -->
<!-- ////////////////////////////////////////////////////////////// -->
<div class="wrapper">
    <div class="sidebar">
        <h2>Seats</h2>
        <ul>
            <li><a href="#" routerLink="/profile"><i class="fas fa-home" ></i>go back</a></li>
        </ul> 
    </div>
    <div class="main_content">
        <div class="header">Welcome!! Have a nice day.</div>  
        <div class="info">
            <div>
                <!-- <a routerLink="/profile">go back</a> -->
                <div *ngFor="let seat of seats">
                    <form [formGroup]="seatsForm" (ngSubmit)='updateSeat(seatsForm.value)'>
                        {{seat.id}}
                        <input formControlName="seatsId" >
                        {{seat.Number}}
                        <input formControlName="seatsNumber" />
                        {{seat.type}}
                        <input formControlName="seatsType" />
                        {{seat.availability}}
                        <input formControlName="seatsAvailability" />
            
                        <button type="submit">Submit changes</button>
                    </form>
            
                </div>
                <div *ngFor="let seat of seats">
                    <form [formGroup]="seatsForm" (ngSubmit)='onSubmit(seatsForm.value)'>
                        {{seat.id}}
                        <input formControlName="seatsId" >
                        {{seat.Number}}
                        <input formControlName="seatsNumber" />
                        {{seat.type}}
                        <input formControlName="seatsType" />
                        {{seat.availability}}
                        <input formControlName="seatsAvailability" />
            
                        <button type="submit">add seat</button>
                    </form>
            
                </div>                
                <button (click)='deleteAll()'>Delete all seats</button>
            </div>
      </div>
    </div>
</div>