
<div class="wrapper">
    <div class="sidebar">
        <h2>Seats</h2>
        <ul>
            <li><a href="#" routerLink="/profile"><i class="fas fa-home" ></i>go back</a></li>
            <li><button (click)='deleteAll()'>Delete all seats</button></li>
        </ul> 
    </div>
    <div class="main_content">
        <div class="header"></div>  
        <div class="info">
            <div>
                <div *ngFor="let seat of seats">
                    <form [formGroup]="seatsForm" (ngSubmit)='updateSeat(seatsForm.value)'>
                        <h1>{{seat.id}}</h1>                         
                        <input formControlName="seatsNumber" placeholder={{seat.Number}}/>
                        {{seat.type}}
                        <input formControlName="seatsType" placeholder={{seat.type}}/>
                        {{seat.availability}}
                        <input formControlName="seatsAvailability" placeholder={{seat.availability}}/>
            
                        <button type="submit">Submit changes</button>
                    </form>
            
                </div>
         
   
            </div>
            <div class="addedSeat">
                <form [formGroup]="seatForm" (ngSubmit)='onSubmit(seatForm.value)'>
                    <h1>Add seat</h1>
                    <input formControlName="seatNumber" placeholder="Number"/>
                    <input formControlName="seatType" placeholder="Type"/>
                    <input formControlName="seatAvailability" placeholder="Availability"/>
        
                    <button type="submit">add seat</button>
                </form>
        
            </div>       
      </div>
    </div>
</div>